/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

* {
	background: black;
}

h1 {
    color: white;
}

h6 {
    color:white;
    font-family: 'Cutive Mono', ;
}
p {

    color: white;
}

input, select, textarea { 
    color: yellow; 
}
