row {
    overflow: hidden;
    height: 200px;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    font-size: 60px !important;
}


h3, h4 {
    font-family: 'Cutive Mono', serif; 
}

h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

.col-md-4.text-center {
    height: 200px;
}

a:link {
    color: #FFDE55;
}

a:visited {
    color: #FFDE55;
}

a:hover {
    color: #FFDE55;
}

a:active {
    color: #FFDE55;
}

a {
    color: #FFDE55;
}

footer a {
    text-decoration: underline;
    color: #5A5A5A;
}

footer a:visited {
    color: #5A5A5A;
}

.img-circle {
    background-color: whitesmoke;
}

.img-circle img {
    width: 130px;
    height: 130px;
}

#email {
    text-decoration: underline;
}

#email a {
    color: #5A5A5A;
}

#email a:visited {
    color: #5A5A5A;
}


@media only screen and (max-width: 640px) {
    .navbar.logo {
        height: 50px;
    }
}


img.client-image {
    margin-top: 10px;
    
}

.row.buffer {
    margin-right: 120px;
    valign: center;
}

